__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.ruff_cache/
.venv/
venv/
build/
dist/
outputs/
params/walk_times_osm.json
params/walk_paths_osm.json
params/event_zones_osm.json
params/walk_paths_event_osm.json
params/walk_times_event_osm.json
.DS_Store
*.log
